body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.grad {
  background: #511C29; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #511C29 , #DB324D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #511C29, #DB324D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #511C29, #DB324D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #511C29 , #DB324D); /* Standard syntax */
}

.parallax-container {
      height: "your height here";
    }

.brand-logo {
  width: 40%;
  height:auto;
}

.about-header, h1 {
  font-size: 5rem;
  letter-spacing: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 2%;
}

.about-body h4 {
  font-size: 1.8rem;
  letter-spacing: .2rem;
}

.article1s {
  background-color: white;
  opacity: .7;
  border-radius: 10%;
}
.about {
  background-image: url('assets/carrot.png');
  background-position: center;
  background-repeat: no-repeat;
}

.about-container {
  margin: 2rem 2rem 3rem 2rem;
}

.btn-large {
  background-color: #DB324D;
  text-transform: none;
}

.button-container {
  margin: 3rem;
}
