body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.grad {
  background: #511C29; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #511C29 , #DB324D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #511C29, #DB324D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #511C29, #DB324D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #511C29 , #DB324D); /* Standard syntax */
}

.parallax-container {
      height: "your height here";
    }

.brand-logo {
  width: 40%;
  height:auto;
}

.about-header, h1 {
  font-size: 5rem;
  letter-spacing: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 2%;
}

.about-body h4 {
  font-size: 2rem;
  letter-spacing: .2rem;
}

.article1 {
  background-image: url('assets/dirty_hand.jpeg');
  background-position: center center;
  border-radius: 10%;
  opacity: .7;
  margin-right: 1rem;
}
.article2 {
  background-image: url('assets/veg_basket.jpeg');
  background-position: center center;
  border-radius: 10%;
  opacity: .7;
  margin-right: 1rem;
}

.article3 {
  background-image: url('assets/tomato_share.jpeg');
  background-position: center center;
  border-radius: 10%;
  opacity: .7;
}

.text {
    color: #FFF;
    opacity: 1;
    position: relative;
}
