body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

main {
  flex: 1 0 auto;
}

.grad {
  background: #511C29; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #511C29 , #DB324D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #511C29, #DB324D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #511C29, #DB324D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #511C29 , #DB324D); /* Standard syntax */
}

.brand-logo {
  width: 40%;
  height:auto;
}

.btn-large {
  color: #8c4053;
  border: 3px solid #DB324D;
  font-size: 1.5em;
  margin: 2%;
  width: 30vw;
}

nav,h5 {
  color: black;
}

.about-header, h1 {
  font-size: 5rem;
  letter-spacing: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 2%;
  font-family: 'Kaushan Script', cursive;
}

.about-body h4 {
  font-size: 1.8rem;
  letter-spacing: .2rem;
}

.article1s {
  background-color: white;
  opacity: .7;
  border-radius: 10%;
}
.about {
  background-image: url('assets/carrot.png');
  background-position: center;
  background-repeat: no-repeat;
}

.about-container {
  margin: 2rem 2rem 3rem 2rem;
  background-color: rgba(255,255,255,0.7);
}

footer a {
  color: white;
}

.team {
  margin-right: 0rem;
  margin-left: 1rem;
}
